body{
    margin: 2;
    padding: 1%;
    background-size: contain;
    background-color: orange;
    align-items: center;
    
}

.center {
    text-align: center;
    background-color: white;
    padding: 20px;
    border: 10px solid black;
    height:60px;
    width: 600px;
    font-size: 40px;
    font-weight: bolder  
}


.container{
    display: grid;
    align-items: center;
    justify-content: center;
}

.btn {
    display: block;
    font-size: 30px;
    font-family: 'Segoe UI';
    margin: 10px;
    width: 200px;
    height: 70px;
    background-color: yellow;
    border-radius: 10px;
    outline: none;
    border-color: teal;
    cursor: pointer;
}

.btn1:hover{
    transform: rotateZ(20deg)
}

.btn2:hover{
    transform: rotateZ(-20deg)
}

.btn3:hover{
    transform: rotateX(20deg)
}

.btn4:hover{
    transform: rotateX(-20deg)
}